<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.subtitle}}</title>
    <link href="https://cdn.bootcss.com/mdui/0.4.0/css/mdui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
    <script src="https://cdn.bootcss.com/mdui/0.4.0/js/mdui.min.js"></script>
    <script src="{{ "assets/js/main.js" | relative_url }}"></script>
    {% include css.html %}
</head>